.navcontainer {
  max-width: 1440px;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.section.top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 900px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.top.main {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/main_top.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.top.contact {
  background-image: url('../images/contact_top.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.top.product {
  height: 800px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: rgba(49, 62, 99, .81);
}

.section.top.pricing {
  height: 800px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 7%, 42%, .8);
}

.section.top.solution {
  background-image: url('../images/fd_top.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section.top.solution2 {
  background-image: url('../images/fd_middle.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionsmall {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.sectionsmall.pink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-linear-gradient(270deg, rgba(255, 79, 103, .9), rgba(255, 79, 103, .9));
  background-image: linear-gradient(180deg, rgba(255, 79, 103, .9), rgba(255, 79, 103, .9));
}

.sectionsmall.report {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background-image: url('../images/main_middle2.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.sectionsmall.notification {
  background-color: #ddd;
}

.navbar {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: transparent;
}

.logotext {
  font-family: 'Futura font', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 900;
}

.brand {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  padding-left: 0px;
}

.navlink {
  padding-right: 40px;
  padding-left: 40px;
  font-family: 'Futura font', sans-serif;
  color: #ffc3c3;
  font-weight: 900;
  text-align: center;
}

.navlink:hover {
  color: #ff4f67;
}

.navlink.w--current {
  color: #ff4f67;
}

.link-block {
  margin-left: 40px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.heading {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  font-weight: 100;
  text-align: center;
}

.text-block {
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
}

.button {
  width: 160px;
  height: 50px;
  padding: 15px;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
}

.button.mainbutton {
  margin-top: 50px;
  margin-bottom: 50px;
  background-color: #ff4f67;
  color: #fff;
}

.button.mainbutton:hover {
  background-color: rgba(255, 79, 103, .5);
}

.button.contactbutton {
  margin-bottom: 40px;
  border: 1px solid #ff4f67;
  background-color: #fff;
  color: #ff4f67;
}

.button.contactbutton:hover {
  border-color: rgba(255, 79, 103, .5);
  color: rgba(255, 79, 103, .5);
}

.button.contactbutton.solutionbutton {
  margin-top: 50px;
  margin-bottom: 50px;
}

.link-block-2 {
  margin-top: 120px;
  margin-bottom: 60px;
}

.heading-2 {
  font-family: 'Galano grotesque semi', sans-serif;
  color: #fff;
  font-size: 28px;
  line-height: 32px;
  font-weight: 600;
  text-align: center;
}

.text-block-2 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.text-block-2.dark {
  color: #1e234d;
}

.text-block-3 {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 15px;
  line-height: 24px;
}

.text-block-3.dark {
  color: #1e234d;
}

.text-block-3.dashboardtext {
  text-align: left;
}

.heading-3 {
  margin-bottom: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-size: 40px;
  line-height: 50px;
  font-weight: 100;
}

.heading-3.dark {
  color: #1e234d;
}

.image {
  margin-right: 15px;
}

.heading-4 {
  margin-top: 0px;
  font-family: 'Open Sans', sans-serif;
  color: #3d454e;
  font-size: 30px;
  line-height: 40px;
  font-weight: 100;
  text-align: center;
}

.heading-4.product {
  color: #fff;
}

.text-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: 'Open Sans', sans-serif;
  color: #3d454e;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
}

.text-block-4.product {
  color: #fff;
}

.smallblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-top: 0px;
  padding-right: 15px;
  padding-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.smallblock.product {
  width: 50%;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 120px 60px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
}

.footer {
  position: relative;
  z-index: 1000;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f1f1f1;
  font-family: 'Open Sans', sans-serif;
  color: #3d454e;
  font-size: 12px;
  font-weight: 500;
}

.footerblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 500px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: space-around;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
}

.image-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.lineblock {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 40px;
  border-bottom: 1px solid hsla(0, 0%, 49%, .2);
}

.lineblock.last {
  display: none;
}

.lineblock.last2 {
  display: none;
}

.maintitleblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.maintitleblock.product {
  margin-left: 50%;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.columnblock {
  width: 50%;
  padding: 100px 60px;
}

.columnblock.dashboardimage {
  background-image: url('../images/main_middle_left.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.columnblock.dashboard {
  padding-right: 60px;
  padding-left: 60px;
  background-color: #202231;
}

.columnblock.notificationimage {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 0px;
  padding-bottom: 0px;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.image-3 {
  width: 370px;
  height: 370px;
}

.iconblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.section-2 {
  height: 500px;
  background-image: url('../images/product_middle.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-3 {
  background-color: #1e234d;
}

.section-4 {
  height: 1200px;
  background-image: url('../images/meeting_room_chairs___conference_room_meeting_room_chairs.jpg');
  background-position: 0px 0px;
  background-size: 2250px;
}

.div-block {
  width: 100%;
  height: 50%;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .75), rgba(0, 0, 0, .75));
}

.arunblock {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 1001;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.arunlink {
  text-decoration: none;
}

@media (max-width: 991px) {
  .navcontainer {
    padding-right: 0px;
    padding-left: 20px;
  }
  .section.top {
    height: 800px;
  }
  .section.top.product {
    height: 600px;
  }
  .section.top.pricing {
    height: 600px;
  }
  .sectionsmall.pink {
    padding: 80px 40px;
  }
  .navlink {
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    text-align: right;
  }
  .link-block {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-left: 0px;
    padding-right: 20px;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .heading {
    font-size: 40px;
    line-height: 50px;
  }
  .link-block-2 {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  .icon {
    color: #ff4f67;
  }
  .heading-3 {
    font-size: 30px;
    line-height: 40px;
  }
  .heading-4 {
    font-size: 25px;
    line-height: 35px;
  }
  .smallblock {
    width: 100%;
  }
  .container {
    padding: 80px 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .container.product {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .nav-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .5);
  }
  .menu-button.w--open {
    background-color: transparent;
  }
  .image-2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .lineblock.last {
    display: block;
  }
  .maintitleblock.product {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .columnblock {
    padding: 80px 40px;
  }
  .columnblock.dashboard {
    padding-right: 40px;
    padding-left: 40px;
  }
  .columnblock.notificationimage {
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .image-3 {
    width: 300px;
    height: 300px;
  }
  .section-2 {
    height: 300px;
  }
}

@media (max-width: 767px) {
  .navcontainer {
    padding-top: 10px;
  }
  .section.top {
    height: 720px;
  }
  .sectionsmall {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .sectionsmall.pink {
    padding: 60px 30px;
  }
  .heading {
    font-size: 30px;
    line-height: 40px;
  }
  .button.contactbutton {
    background-image: none;
  }
  .link-block-2 {
    margin-top: 80px;
    margin-bottom: 40px;
  }
  .text-block-3 {
    text-align: center;
  }
  .text-block-3.dark {
    text-align: center;
  }
  .text-block-3.product {
    text-align: left;
  }
  .heading-3 {
    text-align: center;
  }
  .heading-4 {
    font-size: 20px;
    line-height: 30px;
  }
  .smallblock.product {
    width: 100%;
  }
  .container {
    padding: 60px 30px;
  }
  .container.product {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .lineblock.last2 {
    display: block;
  }
  .columnblock {
    width: 100%;
    padding: 60px 30px;
  }
  .columnblock.dashboardimage {
    display: none;
    height: 360px;
    background-size: cover;
  }
  .columnblock.notificationimage {
    display: none;
  }
  .iconblock {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media (max-width: 479px) {
  .section.top.product {
    height: 480px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section.top.pricing {
    height: 480px;
  }
  .sectionsmall.pink {
    padding: 40px 20px;
  }
  .link-block-2 {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .heading-3 {
    font-size: 20px;
    line-height: 30px;
  }
  .container {
    padding: 40px 0px;
  }
  .footerblock {
    width: 300px;
  }
  .text-block-5 {
    display: none;
  }
  .maintitleblock {
    padding-right: 20px;
    padding-left: 20px;
  }
  .maintitleblock.product {
    margin-left: 0%;
  }
  .columnblock {
    padding: 40px 20px;
  }
  .section-2 {
    height: 200px;
  }
  .section-4 {
    height: 1000px;
  }
}

@font-face {
  font-family: 'Futura font';
  src: url('../fonts/Futura-Heavy-font.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Galano grotesque semi';
  src: url('../fonts/Galano-Grotesque-Semi-Bold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}